@page "/forgot-password"
@layout LoginLayout
@inherits RecoCms6.Pages.ForgotPasswordComponent

<RadzenTemplateForm Data="@("ForgotPassword")" Method="GET" Action="@($"Account/ResetPassword?userName={System.Web.HttpUtility.UrlEncode(emailAddress)}")">
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" style="text-align: center" Text="Forgot Password">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <div style="margin-bottom: 0.25em" class="row">
          <div class="col-md-3">
            <RadzenLabel Text="Email Address">
            </RadzenLabel>
          </div>
          <div class="col-md-9">
            <RadzenTextBox style="width: 100%" @bind-Value="emailAddress" Name="userName" />
            <RadzenRequiredValidator Component="userName" Text="Email address is required" />
          <RadzenRegexValidator Component="userName" Pattern=@(@"^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$") Text="Invalid email address" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-md-center">
            <RadzenButton ButtonType="ButtonType.Submit" Text="Send">
            </RadzenButton>
          </div>
        </div>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
</RadzenTemplateForm>