@page "/movement-bordereau"
@layout MainLayout
@inherits RecoCms6.Pages.MovementBordereauComponent

@using Radzen
@using Radzen.Blazor
@using RecoCms6.Models.RecoDb
@using Microsoft.AspNetCore.Identity;
@using RecoCms6.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-1">
        <RadzenLabel Text="Start Date">
        </RadzenLabel>
      </div>
      <div class="col-md-2">
        <RadzenDatePicker DateFormat="d" ShowTimeOkButton="true" @bind-Value="@selectedStartDate" Name="Datepicker1">
        </RadzenDatePicker>
      </div>
      <div class="col-md-1">
        <RadzenLabel Text="End Date">
        </RadzenLabel>
      </div>
      <div class="col-md-2">
        <RadzenDatePicker DateFormat="d" ShowTimeOkButton="true" @bind-Value="@selectedReportDate" Name="Datepicker0">
        </RadzenDatePicker>
      </div>
      <div class="col-md-2">
        <RadzenButton Icon="save" Text="Run" Visible="false" Click="@Button0Click">
        </RadzenButton>
      </div>
      <div class="col-md-2">
        <RadzenButton Icon="get_app" Text="Export" Click="@Button1Click">
        </RadzenButton>
      </div>
    </div>
    <div  class="row">
      <div class="col-md-12">
        <RadzenPanel  Text="Movement Bordereau">
          <ChildContent>
            <div class="row">
              <div class="col-md-12">
              </div>
            </div>
          </ChildContent>
        </RadzenPanel>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
