@page "/system-templates"
@layout MainLayout
@inherits RecoCms6.Pages.SystemTemplatesComponent

@using Radzen
@using Radzen.Blazor
@using RecoCms6.Models.RecoDb
@using Microsoft.AspNetCore.Identity;
@using RecoCms6.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="SystemTemplate">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenGrid @ref="grid0" AllowFiltering="true" FilterMode="Radzen.FilterMode.Advanced" AllowPaging="true" AllowSorting="true" Data="@getSystemTemplatesResult" TItem="RecoCms6.Models.RecoDb.SystemTemplate" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenGridColumn TItem="RecoCms6.Models.RecoDb.SystemTemplate" Property="TemplateID" Title="Template ID">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RecoCms6.Models.RecoDb.SystemTemplate" Property="TemplateName" Title="Template Name">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RecoCms6.Models.RecoDb.SystemTemplate" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
              <Template Context="RecoCms6ModelsRecoDbSystemTemplate">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, RecoCms6ModelsRecoDbSystemTemplate))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
